<!-- templates/index.html -->
<!-- Used button style guide from https://www.w3schools.com/css/css3_buttons.asp -->
<style>

    .test {
      background-color: #92a8d1;
    }

    .button {
      background-color: #f45333;
      border: none;
      color: purple;
      padding: 8px 24px;
      text-align: center;
      font-size: 16px;
      opacity: 0.6;
      transition: 0.3s;
      cursor: pointer;
    }

.button:hover {opacity: 1}
</style>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<!-- Extend 'base.html' and put content into a block 'body' to match -->
{% extends 'base.html' %}

{% block title %}
    Enter Your Info
{% endblock %}
<!-- Make an HTML form containing a search box and a submit button to add
    the search term to the query string. The form should have a target of '/' to
    send us to the same route. -->
{% block content %}
<body class = "test">
    <div align="center">
        <div class="container">
            <!-- <div class="row justify-content-md-center">
                <div class="col-lg-12"> -->
                    <h1 style="color:blue;"> <strong>Gif Search</strong></h1>
                    <form action='/'>
                        <p>
                            What would you like to search?
                            <br/>
                            <input type="text" name="name" placeholder="GIF SEARCH"/>
                            <button class="button">Search</button>
                        </p>
                    </form>
                    <form action='/random'>
                        <input type="text" name="name" placeholder="RANDOMIZE IT"/>
                        <button class="button">Random</button>
                    </form>
                    <form action='/trending'>
                        <button class="button">Trending</button>
                    </form>
        </div>
        <!-- <br/> -->
        <div class ="container">
            <div class="row justify-content-md-center">
                {% if are_results == True %}
                    {% for gif in result_list%}
                        <div class="col-med-3" style="margin: 15">{%include 'gif.html'%}</div>
                    {%endfor%}
                {% else %}
                    NO RESULTS
                {% endif %}
            </div>
        </div>
    </div>
<body>
</html>
{% endblock %}
